@font-face{

	font-family: 'Mont ExtraLight DEMO';
	src: url('fonts/Mont-ExtraLightDEMO.otf');


}

@font-face{

	font-family: 'MontHeavy';
	src: url('fonts/Mont-HeavyDEMO.otf');
}


*{

	padding: 0;
	border: 0;
	margin: 0;

}

header, footer{
	background-color: #800000;
	padding: 75px;

}

main{

	margin-left: 250px;
	margin-right: 250px;
	background-color: white;
	
}


.titulo{

	font-family: MontHeavy;
	font-size: 50px;
	color: black;

}

.textoDestaque{

	font-family: 'Poppins', sans-serif;
	/*font-family: Mont ExtraLight DEMO;*/ /*removido por falta de acento*/
	text-align: justify;
	font-size: 30;
	color: black;

}


#corpoDaPagina{

	margin-top: 100px;
	margin-bottom: 100px;

}

#textoHeader{

	position: relative;
	top: 50px;
	font-family: MontHeavy;
	color: white;

}

#textoFooter{

	position: relative;
	top: 10px;
	font-family: MontHeavy;
	color: white;

}

