@font-face {
    font-family: Poppins;
    src: url();
}

*{

    margin: 0;
    border: 0;
    padding: 0;

}


header{

    background-color: orange;
    

}

footer{

    background-color: orange;
    padding: 50px;

}

h1, p{

    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;

}


.sectiHeader{

    background-color: blue;
    display: flex;
    

}

#sectiText{

    position: relative;
    top: 50px;
    margin: 0px;
    flex-grow: 1;
}

#govALLogo{

    /*object-fit: contain;*/ 
    position: relative;
    scale: 50%;
    margin: 0px; 
    

}
