*{

    margin: 0;
    border: 0;
    padding: 0;

}

header{

    background-color: rgb(223, 98, 46);
    width: 100%;
    height: 75px;
    
    display: flex;
    place-content: space-between;
    align-items: center;
    

}

nav{

    display: flex;
    margin-right: 50px;
    gap: 2em;

}

a{

    text-decoration: none;
    color: white;
    font-family: Noto Sans, sans-serif;
    flex-direction: row;
    

}